@import url("common.css");
.content{
	width:100%;
	height:100%;
	margin:0 auto;
}
.background{
	width:1360;
	height:900px;
	background: url(../img/1.jpg);
		margin:0 auto;
		position: relative;
		
}
.nav-list{
	position: absolute;
	top:20px;
	left:150px;
	border:1px solid white;
	border-width:0px 0px 1px 0px;
	
	width:1046px;
}
.nav-list li{
	display: inline-block;
	font:20px "Calibri";
	color:white;
	padding:10px 15px 10px ;	
}
.nav-list li:hover{
	background: rgba(2,199,218,0.3);
	transition:1s;
}
.blank{
	width:30px;
	height:30px;
	background: #02c7da;
	position: absolute;
	right:154px;
	top:20px
}
.search{
	width:16px;height:16px;
	background: url(../img/search.png);
	margin:0 auto;
	margin-top:7px;
}
.bg-click{
	font:25px "黑体";
	color:white;
	position:absolute;
	top:50px;
	right:0px;	
}
.radius-left{
	width:165px;
	height:130px;
	background: url(../img/logo.png);
	position: absolute;
	top:240px;right:450px;
}

.p{
	font:bold 50px "Cooper Std";
	color:white;
	position: absolute;
	top:500px;
	left:-1000px;
	width:1000px;
	text-align: center;
}
.blank-span{
	font:bold 30px "宋体" ;
	color:#02c7da;
}
.main{
	width:1360px;
	height:600px;
	position: relative;
	top:900px;
}
.wedding-left{
	width:600px;
	height:300px;
	width: 100%;
	 transition: 0.5s; 
	 display: inline-block; 
	 float: none;
	  vertical-align: middle;
}
.lable{
	width:600px;
	height:360px;
	background: red;
	position:relative;
	margin-top:85px;
	margin-left:70px;
	float:left;
	margin-right:-25px;
    /*background: url(../img/pl.jpg);*/
	overflow: hidden;
}
.huadong{position:absolute;top:0px;}
.lable:hover .wedding-left{
	height: 170px; transition: 0.4s;
}
.label-left{
	width:475px;
	height:195px;
	background:rgba(255,255,255,0.6);
	border:1px solid #ebe7e7;
	/*position: absolute;
	top:310px;
	left:60px;*/
	margin-left:60px ;
	transition: 0.4s;	  
}
.left-love{
	width:100px;
	height:30px;
	background: #02c7da;
	border-radius: 6px;
	font:bold 15px "楷体" ;
	color:white;
	background:rgba(2,199,218,0.6);
	text-align: center;
	line-height: 30px;
	position: relative;
	top:-15px;
	left:185px;
}
.lable-font22{
	text-align: center;
	font:22px "楷体";
	
}

.lable-font20{
	font:20px "微软雅黑";
	text-align: center;
	padding-top:30px;
	line-height: 30px;
}

.right-love{
	width:100px;
	height:30px;
	background: #02c7da;
	border-radius: 6px;
	font:bold 15px "楷体" ;
	color:white;
	background:rgba(2,199,218,0.6);
	text-align: center;
	line-height: 30px;
	position: relative;
	top:-15px;
	left:185px;
}
.lable-no22{
	text-align: center;
	font:22px "楷体";
}
.column{
	width:1360px;
	height:600px;
	position: relative;
	top:800px;
}
.column-left{
	width:250px;
	height:455px;
	border:1px solid darkgray;
	float:left;
    margin:80px 20px 0px 80px;
}
.column-font30{
	font:30px "微软雅黑";
	color:gray;
	margin-left: 55px;
	margin-top:-17px;
	background: white;
	width:150px
}
.column-font20{
	margin-top:30px;
	text-align: center;
	font: 20px "微软雅黑";
	color:black
}
.column-font15{
	font:15px "楷体";
	color:gray;
	text-align: center;
	margin-top:15px;
}
.column-Host,.column-Dresser,.column-Camera,.column-Photography{
	margin-left:55px;
	margin-top:30px;
	width:140px;
	height:39px;
	border:1px solid gainsboro;
	border-radius: 5px;
}
.column-Host:hover,.column-Dresser:hover,.column-Camera:hover,.column-Photography:hover{
	background: #02c7da;
	color:white;
	transition: 1s;
}
.column-photo{
	width:297px;
	height:458px;
	background: url(../img/teamTwoList.jpg);
	float: left;
	margin-top:80px;
}
.transparent{
	width:297px;
	height:300px;
	background: rgba(0,0,0,0.3);
	margin-top:158px
}
.column-font18{
	position: absolute;
	top:120px;
    left:420px;
    font: 40px "微软雅黑";
    color:white;
}
.column-span{
	margin-left:150px
}
.column-font35{
	text-align: center;
	font:35px "微软雅黑";
	color:white;
}
.column-no18{
	text-align: center;
	font:18px "宋体";
	color:white;
	padding-top:30px
}
.column-m-l{
	width:100px;
	height:30px;
	border:2px solid white;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color:white;
	margin-top:50px;
}
.column-img-left{
	width:297px;
	height:458px;
	background: url(../img/sdjg_zcr_01.jpg);
	float: left;
	margin:80px 20px 0px 20px;
}
.column-shop,.column-sho1{
	width:297px;
	height:200px;
	background: rgba(0,0,0,0.4);
	float:left;
	margin-top:258px;
}
.column-no14,.column-f14{
	color:white;
	text-align: center;
	padding-top:50px;
	cursor: help;
	
}
.column-yue{
	width:100px;
	height:30px;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
	border:2px solid white;
	border-radius: 5px;
	margin-top:40px;
}
.column-yue1{
	width:100px;
	height:30px;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
	border:2px solid white;
	border-radius: 5px;
	margin-top:21px;
}
.friendlink{
	color:white;
}
.column-img-right{
	width: 297px;
	height:458px;
	background: url(../img/sdjg_zcr_02.jpg);
	float: left;
	margin:80px 0px 0px 0px;
}

.import{
	width:1360px;
	height:600px;
	position: relative;
	top:800px;
}
.import-img{
	width:400px;height:600px;
	background: url(../img/39_160314110254_1.jpg);
	margin-left:20px;
}
.import-img:hover{
	width:400px;
	height:600px;
   
	transition: 1s;
	transform: scale(1.02);
	z-index: 1;
}
.right{
	width:250px;
	height:200px;
	border-radius: 100%;
	position:absolute;
    left:500px;
    top:-10px;
    overflow: hidden;
    border:1px solid gainsboro;
}
.import-right{
	width:250px;
	height:200px;
	background: url(../img/didian.png);
    border-radius: 100%;
}
.import-right:hover,.import-right1:hover,.import-right2:hover{
	transform: scale(1.1);
	transition:1s ;
	cursor: pointer;
}
.right-p{
     width: 500px;
	 margin-left: 600px; 
	 margin-top: -607px;
	 border: 1px solid gainsboro;
	 border-radius: 10px;
	 height: 165px; 
	 padding-left: 160px;
	 padding-top: 30px;">

}
.right-p:hover{
	color:blueviolet;
	cursor: pointer;
	transition:1s ;
}
.right1{
	width:250px;
	height:200px;
	border-radius: 100%;
	position:absolute;
    left:500px;
    top:200px;
    overflow: hidden;
    border:1px solid gainsboro;
}
.import-right1{
	width:250px;
	height:200px;
	background: url(../img/imagess.jpg);
    border-radius: 100%;
}
.right1-p{
     width: 500px;
	 margin-left: 600px; 
	 margin-top: 12px;
	 border: 1px solid gainsboro;
	 border-radius: 10px;
	 height: 165px; 
	 padding-left: 160px;
	 padding-top: 30px;">

}
.right1-p:hover{
	color:blueviolet;
	cursor: pointer;
	transition:1s ;
}
.right2{
	width:250px;
	height:200px;
	border-radius: 100%;
	position:absolute;
    left:500px;
    top:410px;
    overflow: hidden;
    border:1px solid gainsboro;
}
.import-right2{
	width:250px;
	height:200px;
	background: url(../img/jj.jpg);
    border-radius: 100%;
}
.right2-p{
     width: 500px;
	 margin-left: 600px; 
	 margin-top: 15px;
	 border: 1px solid gainsboro;
	 border-radius: 10px;
	 height: 165px; 
	 padding-left: 160px;
	 padding-top: 30px;">

}
.right2-p:hover{
	color:blueviolet;
	cursor: pointer;
	transition:1s ;
}
.process{
	width:1360px;
	height:352px;
	position: relative;
	top:900px;
}

.position{
	width:1170px;
	height:200px;
	background: url(../img/cehua1.jpg);
	margin-top:100px;
	margin-left:100px;
}
.process-font30{
    padding: 10 10px;
    font: 30px "微软雅黑";
    line-height: 40px;
    text-align: center;
    position: relative;
   z-index: 2;
   left:513px;
   width:290px;
   background:white;
}
.process-bg{
	position: absolute;
    z-index: 1;
    width: 100%;
    height: 11px;
    top: 25px;
    background: url(../img/title-bg.png);
}
.ul{
	position: absolute;
	left:150px;
	top:120px
}
.process-ul{
	
	list-style:none; 
	display:inline-block;
	padding-right:20px;
	margin-top:-60px;
}
.process-ul li ul{
	
	display: none;
	position: absolute;
	top:100px;
	left: 10px;;
	}
	
.process-ul li:hover{
	 transform:scale(1.1);
	 z-index: 1; 
}
.process-ul li:hover ul{
	display: block;
}
.m-l50{
	margin-left:-50px
}
.m-l150{
	margin-left:-150px
}
.m-l250{
	margin-left:-250px;
}
.m-l350{
	margin-left:-350px;
}
.m-l450{
	margin-left:-450px;
}
.m-l550{
	margin-left:-550px;
}
.m-l650{
	margin-left:-650px;
}
.m-l750{
	margin-left:-750px;
}
.m-l850{
	margin-left:-850px;
}
.address{
	width:1360px;
	height:300px;
	position: relative;
	top:900px;
}
.address-left{
	font:50px "微软雅黑";
	color:#02c7da;
	position:absolute;
	top: 90px;
	left:250px;
}
.left-span{
	font:15px "微软雅黑";
	color:darkgray;
	line-height: 50px;
	padding-left:30px;
}
.address-middle{
	font:50px "微软雅黑";
	color:#02c7da;
	position:absolute;
	left:550px;
	top: 90px;
}
.middle-span{
	font:15px "微软雅黑";
	color:darkgray;
	line-height: 50px;
	padding-left:50px;
	
}
.address-right{
	font:50px "微软雅黑";
	color:#02c7da;
	position:absolute;
	left:950px;
	top: 90px;
}
.right-span{
	font:15px "微软雅黑";
	color:darkgray;
	line-height: 50px;
	padding-left:-20px;
}
.footer{
	width:1360px;
	height:236px;
	background: black;
	position: relative;
	top:900px;
}
.footer-p{
	text-align: center;
	font: 20px "微软雅黑";
	color:white;
	padding-top:50px;
}
.icon-left{
	width:55px;
	height:55px;
    display: block;
    background: url(../img/img-sprite.png)no-repeat 11px 10px;
    border:5px solid white;
    border-radius: 100px;
    margin-left:500px;
    margin-top:20px;
}
.icon-left:hover,.icon-middle:hover,.icon-right:hover,.icon-right-right:hover{
	border-color: #02c7da;
	transition: 1s;
}
.icon-middle{
	width:55px;
	height:55px;
    display: block;
    background: url(../img/img-sprite.png)no-repeat 11px 10px;
    border:5px solid white;
    border-radius: 100px;
    background-position:-75px 10px;
    margin-left:600px;
    margin-top:-65px;
}
.icon-right{
	width:55px;
	height:55px;
    display: block;
    background: url(../img/img-sprite.png)no-repeat 11px 10px;
    border:5px solid white;
    border-radius: 100px;
    background-position:-182px 10px;
    margin-left:700px;
    margin-top:-65px;
}
.icon-right-right{
	width:55px;
	height:55px;
    display: block;
    background: url(../img/img-sprite.png)no-repeat 11px 10px;
    border:5px solid white;
    border-radius: 100px;
    background-position:-282px 10px;
    margin-left:800px;
    margin-top:-65px;
}

